<a href="https://colab.research.google.com/github/Himanshu-Dharma/Elon_bots_sentiment_analysis/blob/Him/Twitter_sentiment.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [2]:
import json
  
f = open('/content/tweets_ws22_v1.json')
data = json.load(f)

print("Number of Tweets:" , len(data))

Number of Tweets: 16949

In [3]:
# show tweet
tweetID = 0

print("Tweet", data[tweetID]["text"])
print("Component:", data[tweetID]["labels"]["topic"][0]['topic'])
print("Sentiment:", data[tweetID]["labels"]["sentiment"][0]['sentiment'])

f.close()

Tweet @DSisourath The Thameslink core between London St Pancras and London Blackfriars in rush hours onlybut the in cab rubbish rarely works
Component: service
Sentiment: negative

In [3]:
import pandas as pd

df = pd.DataFrame(data)

In [4]:
df.head(2)

,source_created_at,author_id,text,source,language,longitude,latitude,id,labels,source_id
0,2020-09-18 21:56:20.798000,593731316,@DSisourath The Thameslink core between London...,sprinklr,en,-0.12574,51.50853,acd7673f-e621-5f1a-d662-df278964a6ea,{'topic': [{'tweet_id': 'acd7673f-e621-5f1a-d6...,NaN
1,2020-10-13 07:31:53.122000,745583289520496640,@DulwichHistory Loving the complaint about peo...,sprinklr,en,-0.12574,51.50853,5b92aba8-4b05-6c63-8485-e9c870742137,{'topic': [{'tweet_id': '5b92aba8-4b05-6c63-84...,NaN

In [5]:
df["labels"].iloc[0]['topic'][0]['tweet_id']

'acd7673f-e621-5f1a-d662-df278964a6ea'

In [ ]:
df.describe()

In [13]:
new_pd = pd.json_normalize(data, max_level=1)

In [14]:
new_pd.head(2)

,source_created_at,author_id,text,source,language,longitude,latitude,id,labels.topic,labels.sentiment,source_id
0,2020-09-18 21:56:20.798000,593731316,@DSisourath The Thameslink core between London...,sprinklr,en,-0.12574,51.50853,acd7673f-e621-5f1a-d662-df278964a6ea,[{'tweet_id': 'acd7673f-e621-5f1a-d662-df27896...,[{'tweet_id': 'acd7673f-e621-5f1a-d662-df27896...,NaN
1,2020-10-13 07:31:53.122000,745583289520496640,@DulwichHistory Loving the complaint about peo...,sprinklr,en,-0.12574,51.50853,5b92aba8-4b05-6c63-8485-e9c870742137,[{'tweet_id': '5b92aba8-4b05-6c63-8485-e9c8707...,[{'tweet_id': '5b92aba8-4b05-6c63-8485-e9c8707...,NaN

### percentage missing values

In [8]:
#Percentage of missing values
percent_missing = new_pd.isnull().sum() * 100 / len(df)
missing_value_df = pd.DataFrame({'percent_missing': percent_missing})
missing_value_df
#We might have to omit geography as most of the tweets dont have information there

                   percent_missing
source_created_at         0.000000
author_id                 0.000000
text                      0.000000
source                    0.000000
language                  0.000000
longitude                91.592424
latitude                 91.592424
id                        0.000000
labels.topic              0.000000
labels.sentiment          0.000000
source_id                 8.265974

In [13]:
new_pd["labels.sentiment"].iloc[0][0]['sentiment']

'negative'

In [9]:
newpd1 = pd.DataFrame.from_dict(new_pd["labels.topic"])

In [12]:
newpd1.head(2)

                                        labels.topic
0  [{'tweet_id': 'acd7673f-e621-5f1a-d662-df27896...
1  [{'tweet_id': '5b92aba8-4b05-6c63-8485-e9c8707...

In [47]:
# restructure data with having results as well directly 
# datetime into time of the day with negatives and positives
# sarcasm looks like it is handled 
#